<div class="container">
    <div class="row pt-5">
      <div class="col-md-8">
        <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="editor"><h3>Editor</h3></label>
            <quill-editor [styles]="editorStyle" formControlName="editor"></quill-editor>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
              </div>
              <input type="text" class="form-control" aria-label="title" aria-describedby="inputGroup-sizing-default" placeholder="insert title of the document here" formControlName="title">
            </div>
            
          </div>
          <button type="submit" class="btn btn-primary mt-3">Save</button>
          <button type="button" class="btn btn-primary mt-3 ml-2" (click)="openDocument()">Open selected document</button>
        </form>
      </div>
    </div>
  </div>