<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <!-- <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">Available documents and legislations</h4>
                    <p class="card-category"> filter through all documents using search text-box</p>
                  </div>
                  <div class="card-body">
                        <div class="table-responsive">
                            <div class="search-documents">
                                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#xF002;  Search documents">
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>&nbsp;&nbsp; Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let document of documents | filter:searchText">
                                        <td>{{document.id}}</td>
                                        <td>
                                            <button mat-button color="primary" (click)="openMyDialog(document.url)">{{document.title}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                      </div>
                  </div>
              </div> -->
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Available documents in the system</h4>
                  <p class="card-category">Search for documents and open/edit them</p>
                </div>
                <div class="card-body">
                      <div class="table-responsive">
                          <documents-list-wrapped></documents-list-wrapped>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
